body{
    background-color: rgb(145, 226, 246);
}
.main{
    background-color:white;
    width:55%;
    position:absolute;
    top:25%;
    left:25%;
    height: 310px;
    text-align: center;
    display: none;
    
 }

 input,#searchbtn{
    height: 30px; 
    border:1px solid rgb(0, 13, 255);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
#searchbtn{
background-color: rgb(0, 13, 255);
border-radius: 20px;
color:white;
}
button:hover{
    cursor: pointer;
}

.intro{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    left: 30%;
    top:15%;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}


#ok{
 margin: 10px;
 padding: 10px;
 width: 20%;
 background-color: black;
 color: white;
 
}
.intro img{
    border-radius: 50%;
    border: 5px solid white;
}
#lot{
    color: red;
}
a{
    text-decoration: none;
    font-size: 12px;
    border:1px solid black;
    padding: 5px;
    border-radius: 10px;
    font-family:cursive;
    color: black;
    
    
}

@media(max-width:800px)
{
    .intro{
        width: 96%;
        font-size: 10px;
        left:0;
        top:0;
        font-size: 6.966px;
    }
    .container{
        top:10%;
        left:21px;
        width: 60%;
        height: 300px;
    }
}